{% extends "base.html" %}

{% block content %}

<!-- form -->
<form action="/task" method="post">


<!-- form: input for description -->
<div>
    <label form="description">Description:</label>
    <input type="text" 
        name="description" 
        id="description" 
        placeholder="Description" 
        required 
        autofocus
        >
</div>

<!-- form: input for the duration -->
<div>
    <label form="duration">Duration:</label>
    <input type="number" 
        name="duration" 
        id="duration" 
        placeholder="Duration" 
        required
        >
</div>

<!-- form: input (select) for the completed(true/false) -->
<div>
    <label for="completed">Completed:</label>
    <select name="completed" id="completed">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
</div>


<!-- form: select the user from a list -->
<div>
    <select name="user.id" id="user">
        <!-- TODO -->
    </select>
</div>


<!-- form: submit button - add task -->
<button type="submit">Add Task</button>

</form>
{% endblock %}